body
{
	background-color:#000000;
	color:#FEFCFF;
	width: 960px;
	height: 600px;

}

#holder
{

	position:absolute;
	top: 50%;
	left: 50%;
    width: 950px;
    height: 500px;
    margin: -250px 0 0 -475px;
    background-image:url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

#video
{

	position:relative;
	top: 22%;
	left: 10%;
    width: 300px;
    height: 300px;
    background-image:url('badge.png');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;

}

#social
{

	position:absolute;
	top: 45%;
	right: 10%;
    width: 495px;
    height: 54px;
    background-image:url('bar3trans.png');
    background-position: center;
    z-index: 4;
}

#icons
{
	position:absolute;
	top: 22%;
	right: 5%;
    width: auto;
    height: auto;
}

#logo
{
	position:absolute;
	width: 300px;
	height: 120px;
	top: 65%;
	right: 11%;
	background-image:url('falogo.png');
    background-position: center;
}